[alias]
  a = add
  d = diff
  l = log --graph --decorate --oneline --all
  s = status

[core]
  editor = nvim

[diff]
  colorMoved = zebra

[github]
  user = severij

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autosquash = true

[rerere]
  autoupdate = true
  enabled = true

[user]
  name = Severi Jääskeläinen

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[includeIf "gitdir:~/personal/"]
  path = ~/personal/.gitconfig
